version: '3.9'

services:

  backend:
    build:
      context: ./BackEndAPI
      dockerfile: Dockerfile
    container_name: backend_api
    restart: always
    command: dotnet run
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=appdb;Username=apiUser;Password=admin
    depends_on:
      - postgres

  frontend:
    build:
      context: ./Front_toyota_ace
      dockerfile: Dockerfile
    container_name: frontend_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      # URL usada pelo frontend dentro do docker
      VITE_API_URL: http://backend:5000
      # para Next.js (se existir)
      NEXT_PUBLIC_API_URL: http://backend:5000
    depends_on:
      - backend
  
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: apiUser
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: